* {
  box-sizing: border-box;
}

body {
  border-color: #333333; /* add this line */
  font-family: monospace, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.container > * {
    flex: 1;
    /* margin: 0 10px; */
}

h1 {
  text-align: center;
  border-bottom: 1px solid lavenderblush;
  width: 18%;
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
}

.form-label {
    font-size: 40px;
    font-family: monospace, sans-serif;
}

.form-outline{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 4px solid #ddc5c5;
  border-radius: 5px;
}

.form-control{
    text-align: center;
}


/* Light/Dark Mode */

.light-mode {
    background-color: #c1d8e6;
    color: #333333;
  }
  
  .dark-mode {
    background-color: #333333;
    color: #ebebeb;
  }
  

.dark-mode .form-outline {
    border-color: #f5f5f5;
    color: #517ea5;
  }
  
  .light-mode .form-outline {
    border-color: #333333;
    color: #517ea5;
  }
  
  /* Styling for button in dark mode vs light mode */

  #mode-toggle {
    background-color: #333333;
    color: #ebebeb;
  }
  
  .dark-mode #mode-toggle {
    background-color: #517ea5;
  }
  
  .light-mode #mode-toggle {
    background-color: #333333;
  }

  .dark-mode .list-group-item {
    background-color: slategray;
    color: #fff;
  }
  
/* Add Button Style */

.addButton {
    width: 190px;
  }
  
/* List Styles */

ul.list-group,
ul#favoriteList {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list-group li, ul#goalList li,
ul#favoriteList li {
  position: relative;
  padding: 10px 10px 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}


ul.list-group li:hover,
ul#favoriteList li:hover {
  background-color: #84bbf1 !important;
  cursor: grab;
}

ul.list-group li:last-child,
ul#favoriteList li:last-child {
  border-bottom: none;
}

ul.list-group li img,
ul#favoriteList li img {
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer; 
}

ul.list-group li a,
ul#favoriteList li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}

ul.list-group li a:hover,
ul#favoriteList li a:hover {
  text-decoration: underline;
}

/* Styling to keep goals the same width of Websites */

.list-group-item {
    padding: 0.75rem 1.25rem;
  }
  
  .list-group-item .goal-text {
    margin: 1.3rem;
  }
  
  .list-group-item .delete-button {
    margin-top: 0.5rem;
  }

.delete-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #dc3545;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  
  transition: all 0.3s ease;
}

/* List reorder animation */
ul#goalList li,
ul#favoriteList li {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

ul#goalList li:hover,
ul#favoriteList li:hover {
  transform: scale(1.07);
}

/* Animation */
@keyframes fadeOut {
  from {
    opacity: 10;
  }
  to {
    opacity: 40;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
