* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border-color: #333333; /* add this line */
  font-family: 'Barlow', sans-serif;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc; /* add this line */
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-label {
    font-size: 20px;
}

.form-outline{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 4px solid #ddc5c5;
  border-radius: 5px;
}


/* Light/Dark Mode */

.light-mode {
    background-color: #c1d8e6;
    color: #333333;
  }
  
  .dark-mode {
    background-color: #333333;
    color: #f5f5f5;
  }
  

.dark-mode .form-outline {
    border-color: #f5f5f5;
    color: #517ea5;
  }
  
  .light-mode .form-outline {
    border-color: #333333;
    color: #517ea5;
  }
  
  /* Styling for button in dark mode vs light mode */

  #mode-toggle {
    background-color: #333333;
    color: white;
  }
  
  .dark-mode #mode-toggle {
    background-color: #517ea5;
  }
  
  .light-mode #mode-toggle {
    background-color: #333333;
  }
  
  

/* Add Button Style */

.addButton {
    width: 190px;
  }
  
/* List Styles */

ul#favoriteList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}


.list-group-item:hover {
  background-color: #84bbf1 !important;
  cursor: grab;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item img {
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer; /* add this line */
}


.list-group-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}

.list-group-item a:hover {
  text-decoration: underline;
}

.delete-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #dc3545;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* List reorder animation */
ul#favoriteList li {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

ul#favoriteList li:hover {
  transform: scale(1.05);
}

/* Animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
